<div style="box-sizing:border-box;font-size:13px;margin: 0px; padding: 0px;">
    <p style="box-sizing:border-box;margin: 0px; padding: 0px; font-size: 12px;">
        Buongiorno,
        <br>Il tuo ordine
        <t t-set="transaction" t-value="object.get_portal_last_transaction()" data-oe-t-inline="true"></t>
        <strong t-out="object.name or ''" style="box-sizing:border-box;font-weight:bolder;" contenteditable="false"
            oe-keep-contenteditable="">S00049</strong>&nbsp;per l'importo di <strong
            t-out="format_amount(object.amount_total, object.currency_id) or ''"
            style="box-sizing:border-box;font-weight:bolder;" contenteditable="false" oe-keep-contenteditable="">€
            10.00</strong>&nbsp;è stato&nbsp;ricevuto ed&nbsp;è in stato
        <br>
        <br>
        <span>stato ordine
            <t t-esc="object.state" />
        </span><br>
        <span>stato transazione
            <t t-esc="transaction.state" />
        </span>
        <br>
        <br>
        <t t-if="object.state == 'sale' or (transaction and transaction.state in ('done', 'authorized'))"
            data-oe-t-group-active="true" data-oe-t-group="0" data-oe-t-selectable="true" data-oe-t-inline="true">
            <span style="font-weight: bolder;">confermato</span>.
        </t>
        <t t-elif="object.state == 'draft'">
            <span style="font-weight: bolder;">sospeso</span>. Il tuo ordine sarà confermato alla ricezione
            del pagamento. Per cortesia, inserisci come riferimento pagamento il numero ordine: <strong
                t-out="object.name or ''" style="box-sizing:border-box;font-weight:bolder;" contenteditable="false"
                oe-keep-contenteditable="">S00049</strong>.
        </t>
        <br><br>
        Non esitare a contattarci per qualsiasi informazione o dubbio<br><br>
    </p>
    <t t-if="hasattr(object, 'website_id') and object.website_id" data-oe-t-group-active="true" data-oe-t-group="2">
        <div style="box-sizing:border-box;font-size:13px;margin: 0px; padding: 0px;">
            <table width="100%"
                style="box-sizing:border-box;color: #454748; font-size: 12px; border-collapse: collapse;">
                <tbody>
                    <tr style="border-bottom: 2px solid #dee2e6;">
                        <td style="width: 150px;"><b style="box-sizing:border-box;font-weight:bolder;">Prodotti</b></td>
                        <td></td>
                        <td width="15%" align="center"><strong
                                style="box-sizing:border-box;font-weight:bolder;">Quantità</strong><br></td>
                        <td width="20%" align="right"><strong style="box-sizing:border-box;font-weight:bolder;">
                                <t t-if="object.user_id.has_group('account.group_show_line_subtotals_tax_excluded')"
                                    data-oe-t-group-active="true" data-oe-t-group="3" data-oe-t-selectable="true"
                                    data-oe-t-inline="true">IVA scl..&nbsp;IVA&nbsp;</t>
                                <t t-else="" data-oe-t-selectable="true" data-oe-t-group="3" data-oe-t-inline="true">
                                    Incl.
                                </t>
                            </strong></td>
                    </tr>
                </tbody>
            </table>
            <t t-foreach="object.order_line" t-as="line">
                <t t-if="(not hasattr(line, 'is_delivery') or not line.is_delivery) and line.display_type in ['line_section', 'line_note']"
                    data-oe-t-group-active="true" data-oe-t-group="4" data-oe-t-selectable="true">
                    <t t-set="loop_cycle_number" t-value="0" data-oe-t-inline="true"></t>
                    <t t-set="loop_cycle_number" t-value="loop_cycle_number + 1" data-oe-t-inline="true"></t>
                    <table width="100%"
                        style="box-sizing:border-box;color: #454748; font-size: 12px; border-collapse: collapse;">

                        <tbody>
                            <tr
                                t-att-style="'background-color: #f2f2f2' if loop_cycle_number % 2 == 0 else 'background-color: #ffffff'">

                                <td colspan="4">
                                    <t t-if="line.display_type == 'line_section'" data-oe-t-group-active="true"
                                        data-oe-t-group="5" data-oe-t-selectable="true" data-oe-t-inline="true">
                                        <strong t-out="line.name or ''"
                                            style="box-sizing:border-box;font-weight:bolder;" contenteditable="false"
                                            oe-keep-contenteditable="">Taking care of Trees Course</strong>
                                    </t>
                                    <t t-elif="line.display_type == 'line_note'" data-oe-t-selectable="true"
                                        data-oe-t-group="5" data-oe-t-inline="true">
                                        <i t-out="line.name or ''" contenteditable="false"
                                            oe-keep-contenteditable="">Taking care of Trees Course</i>
                                    </t>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </t>
                <t t-elif="(not hasattr(line, 'is_delivery') or not line.is_delivery)" data-oe-t-selectable="true"
                    data-oe-t-group="4">
                    <t t-set="loop_cycle_number" t-value="0" data-oe-t-inline="true"></t>
                    <t t-set="loop_cycle_number" t-value="loop_cycle_number + 1" data-oe-t-inline="true"></t>
                    <table width="100%"
                        style="box-sizing:border-box;color: #454748; font-size: 12px; border-collapse: collapse;">

                        <tbody>
                            <tr
                                t-att-style="'background-color: #f2f2f2' if loop_cycle_number % 2 == 0 else 'background-color: #ffffff'">

                                <td style="width: 150px;">
                                    <img t-attf-src="/web/image/product.product/{{ line.product_id.id }}/image_128"
                                        style="border-style:none;box-sizing:border-box;vertical-align:middle;width: 64px; height: 64px; object-fit: contain;"
                                        alt="Product image" width="64px" height="64">
                                </td>
                                <td align="left" t-out="line.product_id.name or ''" contenteditable="false"
                                    oe-keep-contenteditable=""> Taking care of Trees Course</td>
                                <td width="15%" align="center" t-out="line.product_uom_qty or ''"
                                    contenteditable="false" oe-keep-contenteditable="">1</td>
                                <td width="20%" align="right"><strong style="box-sizing:border-box;font-weight:bolder;">
                                        <t t-if="object.user_id.has_group('account.group_show_line_subtotals_tax_excluded')"
                                            data-oe-t-group-active="true" data-oe-t-group="6"
                                            data-oe-t-selectable="true" data-oe-t-inline="true">
                                            <t t-out="format_amount(line.price_reduce_taxexcl, object.currency_id) or ''"
                                                data-oe-t-inline="true" contenteditable="false"
                                                oe-keep-contenteditable="">$ 10.00</t>
                                        </t>
                                        <t t-else="" data-oe-t-selectable="true" data-oe-t-group="6"
                                            data-oe-t-inline="true">
                                            <t t-out="format_amount(line.price_reduce_taxinc, object.currency_id) or ''"
                                                data-oe-t-inline="true" contenteditable="false"
                                                oe-keep-contenteditable="">$ 10.00</t>
                                        </t>
                                    </strong></td>
                            </tr>
                        </tbody>
                    </table>
                </t>
            </t>
        </div>
        <div style="box-sizing:border-box;font-size:13px;margin: 0px; padding: 0px;"
            t-if="hasattr(object, 'carrier_id') and object.carrier_id" data-oe-t-group-active="true" data-oe-t-group="7"
            data-oe-t-selectable="true">
            <table width="100%"
                style="box-sizing:border-box;-webkit-border-vertical-spacing:4px;-webkit-border-horizontal-spacing:0px;border-collapse:collapse;color: #454748; font-size: 12px; border-spacing: 0px 4px;"
                align="right">
                <tbody>
                    <tr>
                        <td style="width: 60%"></td>
                        <td style="width: 30%; border-top: 1px solid #dee2e6;" align="right"><strong
                                style="box-sizing:border-box;font-weight:bolder;">Spedizione:</strong></td>
                        <td style="width: 10%; border-top: 1px solid #dee2e6;" align="right"
                            t-out="format_amount(object.amount_delivery, object.currency_id) or ''"
                            contenteditable="false" oe-keep-contenteditable="">$ 0.00</td>
                    </tr>
                    <tr>
                        <td style="width: 60%"></td>
                        <td style="width: 30%;" align="right"><strong
                                style="box-sizing:border-box;font-weight:bolder;">Subtotale:</strong></td>
                        <td style="width: 10%;" align="right"
                            t-out="format_amount(object.amount_untaxed, object.currency_id) or ''"
                            contenteditable="false" oe-keep-contenteditable="">$ 10.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="box-sizing:border-box;font-size:13px;margin: 0px; padding: 0px;" t-else=""
            data-oe-t-selectable="true" data-oe-t-group="7">
            <table width="100%"
                style="box-sizing:border-box;-webkit-border-vertical-spacing:4px;-webkit-border-horizontal-spacing:0px;border-collapse:collapse;color: #454748; font-size: 12px; border-spacing: 0px 4px;"
                align="right">
                <tbody>
                    <tr>
                        <td style="width: 60%"></td>
                        <td style="width: 30%; border-top: 1px solid #dee2e6;" align="right"><strong
                                style="box-sizing:border-box;font-weight:bolder;">SubTotal:</strong></td>
                        <td style="width: 10%; border-top: 1px solid #dee2e6;" align="right"
                            t-out="format_amount(object.amount_untaxed, object.currency_id) or ''"
                            contenteditable="false" oe-keep-contenteditable="">$ 10.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="box-sizing:border-box;font-size:13px;margin: 0px; padding: 0px;">
            <table width="100%"
                style="box-sizing:border-box;-webkit-border-vertical-spacing:4px;-webkit-border-horizontal-spacing:0px;border-collapse:collapse;color: #454748; font-size: 12px; border-spacing: 0px 4px;"
                align="right">
                <tbody>
                    <tr>
                        <td style="width: 60%"></td>
                        <td style="width: 30%;" align="right"><strong
                                style="box-sizing:border-box;font-weight:bolder;">IVA:</strong></td>
                        <td style="width: 10%;" align="right"
                            t-out="format_amount(object.amount_tax, object.currency_id) or ''" contenteditable="false"
                            oe-keep-contenteditable="">$ 0.00</td>
                    </tr>
                    <tr>
                        <td style="width: 60%"></td>
                        <td style="width: 30%; border-top: 1px solid #dee2e6;" align="right"><strong
                                style="box-sizing:border-box;font-weight:bolder;">Totale:</strong></td>
                        <td style="width: 10%; border-top: 1px solid #dee2e6;" align="right"
                            t-out="format_amount(object.amount_total, object.currency_id) or ''" contenteditable="false"
                            oe-keep-contenteditable="">$ 10.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div t-if="object.partner_invoice_id" style="box-sizing:border-box;font-size:13px;margin: 0px; padding: 0px;"
            data-oe-t-group-active="true" data-oe-t-group="8">
            <table width="100%" style="box-sizing:border-box;border-collapse:collapse;color: #454748; font-size: 12px;">
                <tbody>
                    <tr>
                        <td style="padding-top: 10px;">
                            <strong style="box-sizing:border-box;font-weight:bolder;">Fatturare a:</strong>
                            <t t-out="object.partner_invoice_id.street or ''" data-oe-t-inline="true"
                                contenteditable="false" oe-keep-contenteditable="">1201 S Figueroa St</t>
                            <t t-out="object.partner_invoice_id.city or ''" data-oe-t-inline="true"
                                contenteditable="false" oe-keep-contenteditable="">Los Angeles</t>
                            <t t-out="object.partner_invoice_id.state_id.name or ''" data-oe-t-inline="true"
                                contenteditable="false" oe-keep-contenteditable="">California</t>
                            <t t-out="object.partner_invoice_id.zip or ''" data-oe-t-inline="true"
                                contenteditable="false" oe-keep-contenteditable="">90015</t>
                            <t t-out="object.partner_invoice_id.country_id.name or ''" data-oe-t-inline="true"
                                contenteditable="false" oe-keep-contenteditable="">United States</t>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong style="box-sizing:border-box;font-weight:bolder;">Metodo di pagamento:</strong>
                            <t t-if="transaction.token_id" data-oe-t-group-active="true" data-oe-t-group="9"
                                data-oe-t-selectable="true" data-oe-t-inline="true">
                                <t t-out="transaction.token_id.name or ''" data-oe-t-inline="true"
                                    contenteditable="false" oe-keep-contenteditable=""></t>
                            </t>
                            <t t-else="" data-oe-t-selectable="true" data-oe-t-group="9" data-oe-t-inline="true">
                                <t t-out="transaction.acquirer_id.sudo().name or ''" data-oe-t-inline="true"
                                    contenteditable="false" oe-keep-contenteditable=""></t>
                            </t>
                            (<t t-out="format_amount(transaction.amount, object.currency_id) or ''"
                                data-oe-t-inline="true" contenteditable="false" oe-keep-contenteditable="">$ 10.00</t>)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div t-if="object.partner_shipping_id and not object.only_services"
            style="box-sizing:border-box;font-size:13px;margin: 0px; padding: 0px;" data-oe-t-group-active="true"
            data-oe-t-group="10">
            <table width="100%" style="box-sizing:border-box;border-collapse:collapse;color: #454748; font-size: 12px;">
                <tbody>
                    <tr>
                        <td>
                            <br>
                            <strong style="box-sizing:border-box;font-weight:bolder;">Spedire a:</strong>
                            <t t-out="object.partner_shipping_id.street or ''" data-oe-t-inline="true"
                                contenteditable="false" oe-keep-contenteditable="">1201 S Figueroa St</t>
                            <t t-out="object.partner_shipping_id.city or ''" data-oe-t-inline="true"
                                contenteditable="false" oe-keep-contenteditable="">Los Angeles</t>
                            <t t-out="object.partner_shipping_id.state_id.name or ''" data-oe-t-inline="true"
                                contenteditable="false" oe-keep-contenteditable="">California</t>
                            <t t-out="object.partner_shipping_id.zip or ''" data-oe-t-inline="true"
                                contenteditable="false" oe-keep-contenteditable="">90015</t>
                            <t t-out="object.partner_shipping_id.country_id.name or ''" data-oe-t-inline="true"
                                contenteditable="false" oe-keep-contenteditable="">United States</t>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table t-if="hasattr(object, 'carrier_id') and object.carrier_id" width="100%"
                style="box-sizing:border-box;border-collapse:collapse;color: #454748; font-size: 12px;"
                data-oe-t-group-active="true" data-oe-t-group="11">
                <tbody>
                    <tr>
                        <td>
                            <strong style="box-sizing:border-box;font-weight:bolder;">Metodo di spedizione:</strong>
                            <t t-out="object.carrier_id.name or ''" data-oe-t-inline="true" contenteditable="false"
                                oe-keep-contenteditable=""></t>
                            <t t-if="object.carrier_id.fixed_price == 0.0" data-oe-t-group-active="true"
                                data-oe-t-group="12" data-oe-t-selectable="true" data-oe-t-inline="true">
                                (Free)
                            </t>
                            <t t-else="" data-oe-t-selectable="true" data-oe-t-group="12" data-oe-t-inline="true">
                                (<t t-out="format_amount(object.carrier_id.fixed_price, object.currency_id) or ''"
                                    data-oe-t-inline="true" contenteditable="false" oe-keep-contenteditable="">$ 10.00
                                </t>)
                            </t>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </t>
</div>